#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    order: 2;
}

.contact_button {
    order:1;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.nom {
    color: #D3573C;
    font-size: 64px;
    font-weight: 100;
    margin: 5px;
}

.conteneur .location {
    color: #901C1C;
    font-size: 24px;
    margin: 5px;
    margin-bottom: 20px;
   }

.conteneur .line {
    font-size: 18px;
    margin: 5px;
    line-height: 23.44px;
    color: #525252;
}

.conteneurMenu {
    margin-left: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.buttonText {
    font-weight: bold;
}

.conteneurButtonsAndArrow {
    position:absolute;
    left: 150px;
    display: flex;
    flex-direction: row;
    background-color: #901C1C;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    height: 35px;
}

.buttonMenu {
    margin: 5px;
}

.conteneurButton {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-start;
    position: relative;
}

.conteneurButtonDown {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-start;
    position: relative;
    height: 100px;
}


.arrowDown { 
    transform-origin: center;
    transform: rotate(180deg);
    transition: transform 0.2s linear;
    height:fit-content;
}

.conteneurButtonsAndArrow .buttonDate{
    display: none;
    margin: 10px;
    padding: 0px;
}

.conteneurButtonsAndArrow .buttonTitre {
    display: none;
    margin: 10px;
    padding: 0px;
}

.titreSlider {
    border-top: solid 1px;
    padding-top: 10px;
    color: white;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 35px;
    width: 110px;
    opacity: 0;
}

.dateSlider {
    border-top: solid 1px;
    padding-top: 10px;
    color: white;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: -5px;
    width: 110px;
    opacity: 0;
}

.arrow {
    transform-origin: center center;
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
	font: inherit;
	outline: inherit;
    padding: 5px;
    color: #FAFAFA;
}

.conteneurButton button{
    background-color: transparent;
    color: #ffff;
    padding: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}

.photoGrid {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    margin: 0 100px;
}

.photoGrid .media {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.mediaBox {
    display: flex;
    flex-direction: column;
    color: #901C1C;
    margin-bottom: 20px;
}

.titreEtLikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.likesCounter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likesCounter i {
    margin-left: 5px;
}

.heartIcon {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    color: #901C1C;
}

.bottomBox {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: -5px;
    right: 40px;
    height: 70px;
    width: 370px;
    background: #DB8876;
    border-radius: 5px;
}

.likesBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likesBox i{
    margin-left: 6px;
}

#over {
    position: fixed;
    width: 100%; 
    height: 100%; 
    min-height: 100%;
    left: 0;
    top: 0; 
    z-index: 2; 
    opacity: 0.4;
    background-color: white;
}

.modal {
    z-index: 3;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.modal {
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.whiteOut {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

.lightbox {
    background-color: #ffff;
    width: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    display: none;
    justify-content: center;
}

.lightboxButton {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    color: #901C1C;
    font-size: 56px;
}

.leftButton {
    position: absolute;
    top: 50%;
    left: 5%;
}

.rightButton {
    position: absolute;
    top: 50%;
    right: 5%;
}

.closeButton {
    position: absolute;
    top: 0%;
    right: 5%;
}

.imgBox {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mediaLightBox {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.lightbox img {
    width: 100%;
    height: 600px;
    object-fit:cover;
    border-radius: 5px;
}

.imgTitle {
    color: #901C1C;
}

.lightbox video {
    width: 100%;
    height: 600px;
    object-fit: contain;
    border-radius: 5px;
}